<div id="sign_in"> 
  <% unless current_user %>
    <h3>Welcome guest</h3>
    <p><%= link_to "Sign In", '/users/sign_in' %>  <%= link_to "Register", '/users/sign_up' %></p>
  <% else %>
    <h3>Hello <%=current_user.name %></h3>
    <p><%= link_to "Edit Profile", '/users/edit' %></p>  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>
  <% end %>
</div>