<div id="header">
  <h1>Gov Watch</h1>
</div>

<div class="main">
  <%= render '/home/signin' %>

  <%= render '/home/upcoming' %>

  <%= render '/home/floorupdates' %>

  <%= render '/home/footer' %>
</div>

  <%= render 'home/sidebar' %>